@import './resets';
@import './variables';
@function weight($weight-name) {
    @return map-get($font-weights,$weight-name);
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.fa-map-marker-alt {
    margin-right: 15px;
}
.location {
    display: flex;
    justify-content: center;
    font-size: 19px;
    background-color: $primary-color;
    margin-top: 15px;
    padding: 20px;
}
.browse_container {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}