@function weight($weight-name) {
    @return map-get($font-weights,$weight-name);
}
  @keyframes spinMe{
    0%{
      opacity: 1;
      transform: rotate(360deg);
      z-index: 1000;
    }
    100%{
      opacity: 0;
      z-index: -1;
    }
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes slide-in {
  from {
    margin-top: 30%;
    height: 100vh;
  }

  70% {
    margin-top: 15%;
    height: 150%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
@keyframes check {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes GradientFill {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
