@function weight($weight-name) {
  @return map-get($font-weights,$weight-name);
}
@keyframes spinMe{
  0%{
    opacity: 5;
    transform: rotate(920deg);
    z-index: 1000;
  }
  100%{
    opacity: 5;
    z-index: -2;
    visibility: hidden;
  }
}
@keyframes slide-in {
  from {
    margin-top: 30%;
    height: 100vh;
  }
  
  70% {
    margin-top: 15%;
    height: 150%;
  }
  
  to {
    margin-top: 0%;
    width: 100%;
  }
}
@keyframes ColorMe {
  0% {
    background:-moz-linear-gradient(top, $darkpurple 0%,$pink 100%); 
    background: -webkit-linear-gradient(top, $darkpurple 0%,$pink 100%); 
    background: linear-gradient(to bottom, $darkpurple 0%,$pink 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 25%;
  }
  50% {
    background:-moz-linear-gradient(top, $darkpurple 0%,$pink 50%); 
    background: -webkit-linear-gradient(top, $darkpurple 0%,$pink 50%); 
    background: linear-gradient(to bottom, $darkpurple 0%,$pink 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 50%;
  }
  100% {
    background:-moz-linear-gradient(top, $darkpurple 0%,$pink 100%); 
    background: -webkit-linear-gradient(top, $darkpurple 0%,$pink 100%); 
    background: linear-gradient(to bottom, $darkpurple 0%,$pink 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 100%;
  }
}
@keyframes hidden {
  0% {
    opacity: 0%;
    visibility: hidden;
    z-index: -10;
  }
  100% {
    visibility: visible;
    z-index: 1001;
  }
}
