@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin flexLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
@mixin floatLeft {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}
@mixin inlineRight {
    display: inline-block;
    position: absolute;
    left: 85%;
}
@mixin gradientBtn {
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
}
@mixin greyshadow {
    -webkit-box-shadow: 2px 5px 1px 0px #e5e5e5, 1px 1px 5px 5px #e5e5e5; 
    box-shadow: 2px 5px 1px 0px #e5e5e5, 1px 1px 5px 5px #e5e5e5;
}