@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin flexLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
@mixin floatLeft {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}
@mixin floatRight {
    float: right;
    margin-right: 20px;
}
@mixin gradientBtn {
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
}
@mixin greyshadow {
    -webkit-box-shadow: 2px 5px 16px 0px #E5E5E5, 5px 5px 15px 15px #E5E5E5; 
    box-shadow: 2px 5px 16px 0px #E5E5E5, 5px 5px 15px 15px #E5E5E5;
}
