@import './mixins';
@import './variables';
@import './functions';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.slidemein {
    animation: reveal 5ms backwards ease-in;
}
header {
    display: flex;
    justify-content: center;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
}
.browse_container {
    @include flexCenter;
    background-color: #f6f6f6;
    padding-bottom: 50px;
    padding-top: 20px;
    h1 {
        font-size: 25px;
    }
    p {
        text-align: center;
        margin: 0px 30px 30px;
    }
}
a {
    text-decoration: none;
}
.checkmark {
    content: '';
    color: white;
    position: absolute;
    right: -200px;
    top: 0px;
    font-size: 36px;
    padding: 13px;
    background-color: $lime;
    width: 10%;
    min-height: 100%;
    transition: right 2s;
    animation-delay: 500ms;
}
.btn1 {
    background: linear-gradient(to bottom right, $pink, $darkpurple);
    color: white;
    border-radius: 4rem;
    padding: 20px 15px;
    box-shadow: 2px 5px 16px 0px #a4aca5;
    border: none;
    &:hover {
        box-shadow: 1px 5px 5px 3px #353535;
    }
}
.btn2 {
    width: 80%;
    border-radius: 1rem;
    border: none;
    padding: 19px 15px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    @include greyshadow;
    &:hover {
        background: #f5edff;
        .stick_left {
            color: $darkpurple;
        }
    }
}
.fa-map-marker-alt {
    margin-right: 15px;
}
.order-button {
    width: 180px;
    background: linear-gradient(to bottom, $pink, $darkpurple);
    color: white;
    border-radius: 3rem;
    padding: 15px 15px;
    border: none;
    @include greyshadow;
    margin-top: 20px;
    margin-bottom: 60px;
    &:hover {
        box-shadow: 5px 5px 5px 0px #353535;
    }
}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
@media only screen and (min-width: 993px) {
    body {
        background-color: #eaeaea;
    }
    .entrees {
        visibility: hidden;
        animation: reveal 2s linear forwards;
    }
    .maindishes {
        animation: reveal 2s linear forwards;
        animation-delay: 1s;
        visibility: hidden;
    }
    .desserts {
        animation: reveal 2s linear forwards;
        animation-delay: 2s;
        visibility: hidden;
    }
    .center-image {
        min-height: 100%;
        min-width: 100%;
        object-fit: contain;
        position: fixed;
        opacity: 15%;
        z-index: -2;
    }
    .custom-counter {
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        margin-left: 5%;
        flex-wrap: nowrap;
        li {
            width: 20%;
        }
    }
    .browse_container {
        margin: 0% 35% 0% 35%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .location {
        margin: 0% 35% 0% 35%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    #how_header {
        display: flex;
        justify-content: center;
        padding: 2% 25% 2% 25%;
        font-family: Shrikhand;
        font-size: xx-large;
        font-weight: 400;
        letter-spacing: 5px;
    }
    .loader_style {
        position: fixed;
        right: 40%;
        bottom: 30%;
        font-size: 500px;
    }
    #restaurants-container {
        display: flex;
        padding-bottom: 10%;
    }
    .restaurant-container {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        .restaurants_cards {
            margin-left: 3%;
            p {
                margin-left: 14px;
            }
            h2 {
                margin-left: 1px;
            }
        }
        h1 {
            padding-left: 35px;
            position: relative;
            left: 45%;
            bottom: 6rem;
        }
    }
    .restaurant__child {
        background-color: white;
        width: 21.5rem;
        border-radius: 1rem;
        overflow: hidden;
        position:relative;
        padding: 0;
        margin: 30px 30px 30px 61px;
        .checkmark {
            position: absolute;
            right: -60px;
            top: 0%;
            max-height: 100%;
            width: 10%;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
            opacity: 100%;
            transition: 2s;
            z-index: 3;
        } 
        .restaurant_content:hover .checkmark {
            right: 0;
            transition: right 2s;
            overflow: hidden;
            opacity: 100%;
            z-index: 2;
        }
        .restaurant_content:hover .pricetags {
            left: 75%;
            transition: left 2s;
            overflow: hidden;
            opacity: 100%;
            z-index: 2;
        }
        .checkmarkspin {
            animation: SpinCheck 1s infinite;
        }
    }
    .pricetags {
        font-weight: bold;
        position: absolute;
        left: 90%;
        transition: 2s;
    }
    h2 {
        padding: 0px 0px 0px 12px;
        font-size: 18px;
        margin-bottom: 0px;
    }
    p {
        margin-top: 5px;
        margin-left: 4%;
        padding-bottom: 2px;
        font-size: small;
    }
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: row;
        }
        li {
            margin-left: 50px;
            margin-right: 20px;
        }
    }
    .food-menu {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: #f6f6f6;
        padding-bottom: 25px;
        background: none;
        @include flexCenter;
        h1 {
            font-weight: 900;
            font-size: 29px;
            margin: 5%;
            padding: 10px 0px 0px 30px;
            font-family: Shrikhand;
            align-self: center;
        }
        & h1::after {
            @include hearticon;
            position: sticky;
            padding-left: 80px;
        }
        & h1:hover::after {
            @include hearthover;
        }
        #how_header {
            margin-left: 20px;
            font-weight: bold;
        }
    }
}
@media only screen and (min-width: 540px) and (max-width: 992px) {
    .center-image {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0;
        position: fixed;
        opacity: 30%;
        min-height: 100%;
        z-index: -10;
    }
    footer {
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .restaurant__child:hover .checkmark {
        transition: 1s ease 0s;
        right: 0;
    }
    .restaurant__child {
        background-color: white;
        border-radius: 1rem;
        position: relative;
        overflow: visible;
        .checkmark {
            content: '';
            color: white;
            position: absolute;
            right: -200px;
            top: 0px;
            font-size: 36px;
            padding: 13px;
            background-color: #99E2D0;
            width: 10%;
            min-height: 67%;
            -webkit-transition: right 2s;
            transition: right 2s;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }
    .entrees {
        overflow: hidden;
    }
    .maindishes {
        overflow: hidden;
    }
    .desserts {
        overflow: hidden;
    }
    .loader_style {
        margin-left: 40rem;
    }
    .entrees {
        visibility: hidden;
        animation: reveal 2s linear forwards;
    }
    .maindishes {
        animation: reveal 2s linear forwards;
        animation-delay: 1s;
        visibility: hidden;
    }
    .desserts {
        animation: reveal 2s linear forwards;
        animation-delay: 2s;
        visibility: hidden;
    }
    #how_header {
        margin-left: 40%;
    }
    .custom-counter {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-left: 20%;
        margin-right: 20%;
    }
    .card_images {
        width: 100%;
        min-height: 20em;
    } 
    .food-menu {
        position: relative;
        @include flexCenter;
        overflow: hidden;
        h1 {
            font-weight: 900;
            font-size: 29px;
            margin: 10% 33% 3% 13%;
            padding: 10px 0px 0px 0px;
            font-family: Shrikhand;
        }
        & h1::after {
            position: fixed;
            left: 70%;
            @include hearticon;
            margin-top: 5px;
        }
        & h1:hover::after {
            @include hearthover;
        }
        .order-button {
            margin-top: 10%;
            margin-bottom: 10%;
            font-weight: 700;
        }
        .groups {
            margin-top: 7.5%;
            margin-bottom: 7.5%;
        }
        .restaurant__child {
            margin-top: 5%;
            .pricetags {
                right: 5%;
                font-weight: 900;
            }
        }
    }
    .groups {
        display: block;
        font-size: 18px;
        position: relative;
        left: 30%;
        font-weight: 400;
        &:hover::after {
            width: 100px;
            transition: width 1s;
        }
        .checkmark {
            position: absolute;
            left: 60%;
            color: red;
        }
        footer {
            padding-bottom: 4px;
        }
    }
    .restaurant__child {
        background-color: #eaeaea;
        border-radius: 1rem;
        width: 25rem;
        height: 80px;
        h2 {
            font-size: 15px;
            padding-top: 10px;
            margin-left: 20px;
        }
        p {
            font-size: 15px;
            padding-bottom: 10px;
            margin-left: 20px;
        }
        .pricetags {
            position: absolute;
            right: 30%;
        }
    }
    footer {
        display: flex;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 50px;
            li {
                margin-left: 25px;
            }
        }
    }
}
.groups {
    display: block;
    font-size: 18px;
    margin-left: 12%;
    font-weight: 400;
    &:hover::after {
        width: 100px;
        transition: width 1s;
    }
}
.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 5px;
    &:hover {
        filter: drop-shadow(0px 5px 10px #353535); 
    }
}
.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 80%;
    background-color: $darkpurple;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
    position: relative;
    left: 30px;
}
.card_images {
    min-width: 20em;
    max-height: 180px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
@media only screen and (max-width: 520px) { 
    .restaurant-container {
        background-color: #f6f6f6;
        @include flexCenter;
        padding-top: 70px;
        padding-bottom: 70px;
        margin-top: 50px;
        h1 {
            margin-right: auto;
            padding-left: 1rem;
            font-size: 20px;
        }
    }
    #how_header {
        margin-left: 20px;
        font-weight: bold;
    }
    .food-menu {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: #f6f6f6;
        padding-bottom: 25px;
        margin-top: 40%;
        @include flexCenter;
        h1 {
            font-weight: 900;
            font-size: 29px;
            margin: 3% 33% 3% 0%;
            padding: 10px 0px 0px 0px;
            font-family: Shrikhand;
        }
        & h1::after {
            @include hearticon;
            margin-top: 5px;
        }
        & h1:hover::after {
            @include hearthover;
        }
    }
    #bastilleh {
        margin-right: auto;
        margin-left: 20px;
    }
    .center-image {
        position: absolute;
        top: 30px;
        opacity: 1;
        z-index: -1;
        width: 100%;
        max-height: 200px;
    }
    .restaurant__child {
        background-color: white;
        border-radius: 1rem;
        text-align: left;
        min-width: 44vh;
        position: relative;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        overflow: hidden;
        .pricetags {
            @include inlineRight;
            font-weight: bold;
            transition: 1s;
            &:hover {
                left: 75%;
                transition: 900ms;
                transition-delay: 0.3s;
            }
        }
        h2 {
            padding: 0px 15px 0px 11px;
            font-size: 18px;
            margin-bottom: 0px;
        }
        p {
            margin-top: 5px;
            margin-left: 3%;
            font-size: 14px;
        }
    }
    .checkmarkspin {
        animation: SpinCheck 2s infinite;
    }
    .restaurant_content:hover .checkmark {
        transition: 1s ease 0s;
        right: 0;
    }
    .restaurant_content:hover .pricetags {
        transition: 1100ms ease-out 0s;
        left: 75%;
    }
    .groups {
        display: block;
        font-size: 18px;
        margin-left: 2%;
        font-weight: 400;
        &:hover::after {
            width: 100px;
            transition: width 1s;
        }
    }
    .entrees {
        visibility: hidden;
        animation: reveal 2s linear forwards;
    }
    .maindishes {
        animation: reveal 2s linear forwards;
        animation-delay: 1s;
        visibility: hidden;
    }
    .desserts {
        animation: reveal 2s linear forwards;
        animation-delay: 2s;
        visibility: hidden;
    }
    .order-button {
        width: 40%;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 0;
        }
        h1 {
            margin-bottom: 0;
        }
        li {
            margin-left: 40px;
            margin-right: 20px;
        }
        #footerlogo {
            margin-left: 20%;
        }
    }
}
.restaurants_cards {
    background-color: white;
    margin: 10px 10px;
    border-radius: 1rem;
    position: relative;
    & h2::after {
        @include hearticon;
    }
    & h2:hover::after {
        @include hearthover;
    }
    & h2 {
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin: 5px 10px;
    }
    & p {
        color: black;
        margin: 5px 10px;
        padding-bottom: 10px;
    }
}
footer {
    background-color: #353535;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 2px;
    & #footerlogo {
        max-height: 20px;
        margin-left: 40px;
    }
    & ul {
        li,a {
            list-style-type: none;
            color: white;
            margin-bottom: 5px;
        }
    }
}
.fa-arrow-left {
    position: absolute;
    left: 20px;
    top: 7px;
    color: black;
}
.fa-utensils {
    padding-right: 11px;
}
.fa-hands-helping {
    padding-right: 6px;
}
.stick_left {
    margin-left: 15px;
    margin-right: 15px;
    color: #7e7e7e;
}
.new_label {
    background-color: #99e2d0;
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 5px 20px;
    color: #139274;
}
.groups::after {
    content: '';
    display: block;
    width: 40px;
    color: $lime;
    padding: 0px;
    border-top: solid 3px;
    margin-right: 100%;
}
.location {
    background-color: #eaeaea;
    padding: 10px; 
    box-shadow: inset 0px 1.6px 3px 0px #a4aca5;
    margin-top: 15px
}
.loader {
    position: fixed;
    animation: HideMe 3s forwards;
    top: -50%; 
    left: -50%; 
    font-size: 190px;
    background: $gradient-color;
    margin-left: 25%;
    padding: 0;
    width: 200%; 
    height: 200%;
}
.loader_style {
    color: burlywood;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-top: 70%;
    animation: SpinMe 3s forwards;
}