@import './mixins';
@import './variables';
@import './functions';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    @include flexCenter;
}
.btn1 {
    width: 100%;
    background-color: $secondary-color;
    border-radius: 4rem;
    padding: 15px;
}
.btn2 {
    width: 70%;
    border-radius: 1rem;
}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 5px;
  }
  .custom-counter li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 80%;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
  }
  .card_images {
      width: 330px;
  }
  .restaurants_cards {
  }