@import './mixins';
@import './variables';
@import './functions';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

@media screen and (min-width: 250px) {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0; 
        font-family: 'Roboto', sans-serif;
    }
    header {
        display: flex;
        justify-content: center;
    }
    .location {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .browse_container {
        @include flexCenter;
        background-color: #f6f6f6;
        padding-bottom: 50px;
    }
    a {
        text-decoration: none;
    }
    .btn1 {
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
        color: white;
        font-weight: bold;
        background-color: $secondary-color;
        border-radius: 4rem;
        padding: 20px 15px;
        box-shadow: 2px 4px lightgrey;
        border: none;
    }
    .btn2 {
        width: 80%;
        border-radius: 1rem;
        border: none;
        padding: 19px 15px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
        @include greyshadow;
    }
    .fa-map-marker-alt {
        margin-right: 15px;
    }
    .gradient-button {
        position: relative;
        left: 25%;
        width: 180px;
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
        color: white;
        border-radius: 3rem;
        padding: 15px 15px;
        box-shadow: 4px 2px silver;
        border: none;
    }
    .custom-counter {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .custom-counter li {
        counter-increment: step-counter;
        margin-bottom: 5px;
    }
    .custom-counter li::before {
        content: counter(step-counter);
        margin-right: 20px;
        font-size: 80%;
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 11px;
        position: relative;
        left: 30px;
    }
    #how_header {
        margin-left: 20px;
        font-weight: bold;
    }
    .card_images {
        width: 360px;
        max-height: 180px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .restaurants-container {
        background-color: #f6f6f6;
        @include flexLeft;
        padding: 5px;
        margin-top: 50px;
        padding-bottom: 20px;
        h1 {
            margin-right: auto;
            padding-left: 1rem;
            font-size: 20px;
        }
    }
    .restaurants_cards {
        background-color: white;
        margin: 10px 10px;
        border-radius: 1rem;
        position: relative;
    }
    .restaurants_cards h2 {
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin: 5px 10px;
    }
    .restaurants_cards p {
        color: black;
        margin: 5px 10px;
        padding-bottom: 10px;
    }
    #footerlogo {
        max-height: 20px;
        margin-left: 40px;
    }
    footer {
        background-color: #353535;
        width: 100%;
        min-height: 10em;
        padding-top: 1px;
    }
    .footer_list {
        li {
            list-style-type: none;
            color: white;
        }
    }
    .fa-heart {
        @include floatRight;
    }
    .fa-heart:hover {
        color: linear-gradient(to bottom right, $secondary-color, $primary-color);
    }
    .left-float {
        float: left;
        margin-right: 10px;
        margin-left: 0px;
    }
    .top-right {
        background-color: #99e2d0;
        position: absolute;
        top: 8px;
        right: 16px;
        padding: 5px 20px;
        color: #139274;
    }
    .food-menu {
        position: relative;
        bottom: 60px;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: #f6f6f6;
        h1 {
            font-weight: 900;
            margin: 10px 10px;
            padding: 30px 0px 0px 0px;
            font-family: Shrikhand;
        }
    }
    #restaurant-container h2,p {
        font-size: 17px;
        margin-left: 20px;
    }
    .entrees_items {
        border-radius: 1rem;
        margin: auto 10px;
        background-color: white;
        span {
            @include floatRight;
            font-weight: bold;
        }
    }
    .center-image {
        width: 100%;
        max-height: 200px;
    }
    .location {
        background-color: #eaeaea;
        padding: 7px;
    }
}
